

*{
    margin: 0;
    padding: 0;
}

body{

    height: 100vh;
}
header{
    display: flex;
    padding-bottom:10rem ;
    justify-content: center;
    background-color: rgb(199, 199, 199);  
    color: #fff; 
}

.vermelho{

    width: 100vw;
    height: 40vh;
    background-color: red;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 2rem;
   
    
}

.verde{

    background-color: green;
    width: 90%;
    border: 4px solid black;
    padding: 5px;
}

.cinza{
    background-color: grey;
    height:39vh;
    bottom: 0;
    display: flex;
    align-items: center;
    text-align: center;
    
}


