/*@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=SUSE:wght@100..800&display=swap');
*/
<style>
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playwrite+CU:wght@100..400&family=SUSE:wght@100..800&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
}

body{
    background: linear-gradient(to right,  rgb(46, 99, 247) ,rgb(122, 210, 252)  , rgb(0, 110, 255) );
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#relogio{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 800px;
    height: 300px;
    background: white;
    border-radius: 10px;
    box-shadow: 20px 8px 50px rgba(0, 137, 250, 0.75);
}

.caixa{
    height: 250px;
    width: 250px;
    background-color: rgba(132, 206, 255, 0.9);
    color: rgb(0, 0, 0);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    letter-spacing: 3px;
}

span{
    font-size: 150px;
}

.tempo{
    font-size: 40px;
}

#saudacao{
    display: flex;
    align-items: center;
    width: 800px;
    height: 200px;
    background-color: whitesmoke;
    border-radius: 10px;
    box-shadow: 20px 8px 50px rgba(0, 137, 250, 0.75);
    margin-bottom: 20px;
}

#saudacaoTexto{
    margin-left: auto;
    margin-right: auto;
    font-size: 70px;
}